
<div class="col-md-8">
	
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>
	<div class="portrait"></div>

</div>
<div class="col-md-4">.col-md-4</div>