// Place all the styles related to the Champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portrait{
	
	background-color: #000000;
	width: 100px;
	height: 100px;
	margin-right: 15px;
	margin-top: 15px;
	float: left;                                                                                                                                                                                                                                                                                                                                                                                            
}
