// Place all the styles related to the matchups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.versusField{

	width: 48%;
	height: 250px;
	border-color: black;
	border: solid;
	margin-right: 1%;
	margin-left: 1%;
	float: left;

}

.versusBtnField{
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 70px;

}

.vsTextField{
	clear: left;
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 70px;

}

.vsBtnField{
	
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 100px;
	padding-top: 25px;
	margin-bottom: 50px;
	button
		{
		    left:50%;
		    display:block;
			margin: 0 auto;
		}

}

#you{
	font-size: 20px;
	color: black;
	width: 40%;
	padding-top: 25px;
	float: left;
	text-align: center;
}

#vs{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	width: 20%;
	padding-top: 25px;
	float: left;
	text-align: center;
}

#opponent{
	font-size: 20px;
	color: black;
	width: 40%;
	padding-top: 25px;
	float: left;
	text-align: center;


}
.splash{
	display:none;
}
.itemsPopUp{

	width:394px;
	background: blue;
	height:400px;
	position: absolute;
	display: none;
	border: solid;
	border-color: black;
	top:50%;
	left: 50%;
	background-color:#FFFFFF;
	border:1px solid #999999;
	padding: 25px 25px 20px;

}

.imgItem{

	width: 30px;
	height: 30px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;


}
.imgAdd{
	width:61px;
	height: 61px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	float:left;
	margin-right: 5px;
	margin-top: 5px;
}

.imgItem:hover {
  opacity: 0.5;
}

