// Place all the styles related to the matchups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.versusField{

	width: 48%;
	height: 250px;
	border-color: black;
	border: solid;
	margin-right: 1%;
	margin-left: 1%;
	float: left;

}

.versusBtnField{
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 70px;

}

.vsTextField{
	clear: left;
	width:98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 70px;

}

.vsBtnField{
	
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 100px;
	padding-top: 25px;
	margin-bottom: 50px;
	button
		{
		    left:50%;
		    display:block;
			margin: 0 auto;
		}

}

#you{
	font-size: 20px;
	color: black;
	width: 40%;
	padding-top: 25px;
	float: left;
	text-align: center;
}

#vs{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	width: 20%;
	padding-top: 25px;
	float: left;
	text-align: center;
}

#opponent{
	font-size: 20px;
	color: black;
	width: 40%;
	padding-top: 25px;
	float: left;
	text-align: center;


}
.splash{
	display:none;
}
.itemsPopUp{

	width:394px;
	background: blue;
	height:400px;
	position: absolute;
	display: none;
	border: solid;
	border-color: black;
	top:50%;
	left: 50%;
	background-color:#FFFFFF;
	border:1px solid #999999;
	padding: 25px 25px 20px;

}

.imgItem{

	width: 30px;
	height: 30px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;


}
.imgSum{

	width: 65px;
	height: 65px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;


}

.imgChamp{

	width:40px;
	height: 40px;
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;


}
.imgAdd{
	width:65px;
	height: 65px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	float:left;
	margin-right: 5px;
	margin-top: 5px;
}

.champAdd{
	width: 100px;
	height: 100px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	float:left;
	margin-right: 5px;
	margin-top: 5px;
}

.vs{
	text-align: center;
	padding-top: 15%;
	font-size: 30px;
	color: orange;
}

.imgItem:hover {
  opacity: 0.5;
}

.imgChamp:hover {
  opacity: 0.5;
}

.imgSum:hover {
  opacity: 0.5;
}

.runes-buttons{
	width: 100%;
	height: 60px;

}

.runes{
	height: 200px;
	overflow: auto;
	width:100%;
	padding-top: 5px;
}
.selected-runes{
	width: 98%;
	height: 30px;
	margin: 1%;
	border-radius: 4px;
	border: 1px solid #958B8B;
	background-color: #F5F5F5;

}

.selected{

}

.runeAdd{
	overflow: auto;
	width: 100%;
	height: 230px;
	padding: 5px;
}

.rune-img{
	width: 40px;
	height:50px;
	float: left;
	margin-right: 5px; 

}
.rune-name{
	font-weight: bold;
	font-size: 11px;
}
.rune-info{
	width: 90%;
}
.rune-stats{
	font-size: 10px;
}

.rune-number{
	 width: 30px;
	 height: 30px;
	 border-radius: 4px;
	 border: 1px solid #958B8B;
	 text-align: center;
	 top: 50%;
	 left:50%;
	 margin-bottom: 30px;
	 float: right;
	 padding-top: 4px;
	 font-weight: bold;
	 font-size: 12px;
	 background-color: #F5F5F5;

}

.well{
	margin-bottom: 10px !important;
	padding-top: 5px !important;
	padding-left: 5px !important;
}

.well.blue:hover{

	  background: #0b6ad6;
	}
.well.red:hover{

	  background: #f37a4b;
	}
.well.yellow:hover{

	  background: #ffd164;
	}
.well.black:hover{

	  background: #cc9359;
	}
	