<p id="notice"><%= notice %></p>

<div class="col-md-8" style="margin-bottom:100px">
  


    <% @champions.each do |champion| %>
        <div class="portrait">
          <%= link_to image_tag($apiurl + champion.name + ".png", :size => '80x80'), champion%>        
        </div>
    <% end %>

    <% jinx = $client.static_data.champion_by_id RiotGamesApi::LOL::CHAMPIONS[:jinx]%>
    <%= image_tag(@jinx_image_url)%>

</div>

<div class="col-md-4">
  
 
</div>

<br>

