<p id="notice"><%= notice %></p>

<div class="col-md-8" style="margin-bottom:100px">
  


    <% @champions.each do |champion| %>
        <div class="portrait">
          <%= link_to image_tag($apiurl + "champion" + "/" + champion.name + ".png", :size => '80x80'), champion%>        
        </div>
    <% end %>

</div>

<div class="col-md-4">
  
 
</div>

<br>

