<div class="footer">
        <ul>
				<li><a href="#">About LoLMatchup</a></li>
				<li><a href="#">Social Media</a></li>
				<li><a href="#">Streamers</a></li>
				<li><a href="#">Partner</a></li>
		</ul>
		<ul>
				<li><a href="#">Tutorial</a></li>
				<li><a href="#">Forum</a></li>
				<li><a href="#">Donate</a></li>
				<li><a href="#">FAQ</a></li>
		</ul>


    </div>